
form {
  position: absolute;
  padding:1em;
  min-width: 300px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparentize($white, .3);
  h2 {
    font-weight: normal;
    color: lighten($black, 30%);
  }
  #destination, #datepicker, #duration {
    background-color: $white;
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border: none;
    margin: 1em auto;
    color: lighten($black, 30%);
  }
  #adults, #children {
    background-color: $white;
    float: left;
    border-radius: 5px;
    width: 47.5%;
    height: 40px;
    border: none;

  }
  #adults {
    margin: 0 2.5% 1em 0;
  }
  #children {
    margin: 0 0 1em 2.5%;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  input[placeholder="From"] {
    text-indent: 5px;
    background-color: $white;
    color: lighten($black, 30%);
  }
  option {
    color: lighten($black, 30%);
  }
  select {
    color: lighten($black, 30%);
  }

  input[type="submit"] {
    display: block;
    margin: 1em auto;
    cursor: pointer;
    width: 50%;
    height: 40px;
    background-color: $white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: lighten($black, 30%);
    &:hover {
      background-color: darken($white, 10%);
      border: 1px solid darken($white, 20%);
    }
  }
}
